.pCon{
    display: inline;
     margin-left: 10px;
}
.inputCon{
    width: 200px;
     height: 25px;
     margin-left: 10px;
     display: block;
     margin-top: 10px;
}

.ulCon{
    margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}