.inputCon {
  width: 200px;
  height: 25px;
}
.buttonCon {
  width: 100px;
  height: 25px;
  border: none;
  border-radius: 15%;
}
.buttonCon:hover{
  background-color: blue;
  color: black;
}
.pCon {
  display: inline;
  margin: 0;
}
.formCon {
  margin-left: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid black;
  width: 500px;
  height: 250px;
}
